/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    max-width: 100vw;

}

body {
    font-family: Arial, sans-serif;
    min-height: 100vh;
    max-width: 100vw;
    display: grid;
    grid-template-rows: auto 1fr auto;
}
